<!DOCTYPE HTML>
<html>
<head>
    <link rel = "stylesheet"
        href = "List.css">
        <style>
    table, th, td {
        border: 1px solid black;
        text-align: center;
        vertical-align: middle;
        font-family: Helvetica;
    }
    button {
        background-color: black;
        color: white;
        padding: 14px 20px;
        margin: 10px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        padding-top: 15px;
    }
    .returntomain{
        background-color: black;
        text-align: left;
        width: auto;
        padding: auto;
        margin-top: 0px;
        font-size: 11px;
    }
    h2 {
        font-family: Helvetica;
    }

</style>
</head>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
  $(document).ready(function(){
  if(<%-JSON.stringify(x)%>!=''){
    alert(<%- JSON.stringify(x)%>);
  }
  });
  function load(){
  var s = document.getElementById('sport').value;
  var t = document.getElementById('time').value;
  if (s=='Sports'||t=='time'){
    return alert('need correct input of sport and time');
  }
  var xhttp, xmlDoc, txt, x, i;
  xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
    var rp = this.responseText;
    rp = JSON.parse(rp);

    if(rp.length==0){
      document.getElementById('container')='no activity for joining';
    }else{
      var table = '<center><tr><td>number of people now</td><td>start time</td><td>date</td><td>sport</td></tr></center>';
      for(var i = 0; i<rp.length ;i++){
        table +=`<center><tr id='tr${i}'><td id='tdn${i}'>${rp[i].num}</td><td id='tdt${i}'>${rp[i].time}</td><td id='tdd${i}'>${rp[i].date}</td><td id='tds${i}'>${rp[i].sport}</td><td><input type='radio' name = 'stuff' value='${JSON.stringify(rp[i])}' checked></td></tr></center>`;
      }
      document.getElementById('table').innerHTML = table;
      document.getElementById('ind').value = rp.length;
    }
    }
  };
  xhttp.open("get", '/join/'+s+'/'+t, true);
  xhttp.send();
}
//$(document).ready(function(){
/*  for(var i = 0; i<document.getElementById('ind').value;i++){

  document.getElementById("tr"+i).onclick = function(){
    console.log('in');
    var date =document.getElementById("tdd"+i).value;
    console.log(date);
    var time =document.getElementById("tdt"+i).value;
    var sport =document.getElementById("tds"+i).value;
    alert(sport+time+date);
    };
//}
}*/
  </script>
    <center><button type = "button"  class = "returntomain" value = "Return to Main Page" name = "name" onclick = "location.href = '/'"> Return to Main Menu</button></center>
    <center><h2 style = "font-family: Helvetica"><font color = black> View all the possible slots here. Choose the time and sports here. </font></h2></center>
    <center><select id = 'sport'>
        <option value = "Sports"> Sports</option>
        <option value = "Soccer"> Soccer</option>
        <option value = "Basketball"> Basketball</option>
        <option value = "Gym"> Gym</option>
        <option value = "Football"> Football</option>
        <option value = "Baseball"> Baseball</option>
        <option value = "Swimming"> Swimming</option>
        <option value = "Tennis"> Tennis</option>
        <option value = "Badminton"> Badminton</option>
    </select>
    <select id = 'time' >
        <option value = "time"> time</option>
        <option value = "8"> 8:00-10:00</option>
        <option value = "10"> 10:00-12:00</option>
        <option value = "12"> 12:00-14:00</option>
        <option value = "14"> 14:00-16:00</option>
        <option value = "16"> 16:00-18:00</option>
        <option value = "18"> 18:00-20:00</option>
        <option value = "20"> 20:00-22:00</option>
        <option value = "22"> 22:00-24:00</option>
    </select></center>
    <button onclick='load()'>check out time slot</button>
    <br></br>
    <form action="/join" method="post">
      <input type="hidden" id='ind' value =0>
        <input id="x"type ="hidden" name="info" value=<%- info%>>


    <center>
      <table style="width:100%" id="table">

      </table>

    <button type = "submit" value = "Submit" name = "name" > Submit</button>
    </form>
</center>
<script>

</script>
        </body>
</html>
