<!DOCTYPE HTML>
<html>
<head>
    <meta name = "viewpoint" content = "width=device-width, initial-scale = 1"/>
    <link rel = "stylesheet"
        href = "Main.css">
        <center><title>SportsBuds</title></center>
    </head>
    <body>
        <h1>Meet all Co-Exers here!</h1>
        <h4>Come, exercise, and make friends.</h4>
        <div class="btn-group">
            <a href="/login" class="btn btn-primary"><input type = "image" src = "lalala/lalala/weightlifting.png" alt= "Gym" height = "200em" width = "200em" hspace = 40></a>
             <a href="/login" class="btn btn-primary"><input type = "image" src = "soccer/soccer.png" alt= "Soccer" height = "200em" width = "200em" hspace = 40></a>
             <a href="/login" class="btn btn-primary"><input type = "image" src = "AMERICAN FOOTBALL.png/AMERICAN FOOTBALL.png" alt= "Football" height = "200em" width = "200em" hspace = 40></a>
        </div>
        <div class="btn-group">
            <a href="/login" class="btn btn-primary"><input type = "image" src = "lalala/lalala/basketball.png" alt= "Basketball" height = "200em" width = "200em" hspace = 40></a>
             <a href="/login" class="btn btn-primary"><input type = "image" src = "sport png/sport png/tennisball.png" alt= "Tennis" height = "200em" width = "200em" hspace = 40></a>
             <a href="/login" class="btn btn-primary"><input type = "image" src = "sport png/sport png/badminton.png" alt= "Badminton" height = "200em" width = "200em" hspace = 40></a>
        </div>
        <div class="btn-group">
            <a href="/login" class="btn btn-primary"><input type = "image" src = "sport png/sport png/baseball.png" alt= "Baseball" height = "200em" width = "200em" hspace = 40></a>
             <a href="/login" class="btn btn-primary"><input type = "image" src = "sport png/sport png/volleyball.png" alt= "volleyball" height = "200em" width = "200em" hspace = 40></a>
             <a href="/login" class="btn btn-primary"><input type = "image" src = "sport png/sport png/bowling.png" alt= "bowling" height = "200em" width = "200em" hspace = 40></a>
        </div>
    </body>
    </html>
