<!DOCTYPE HTML>
<html>
<head>
    <style>
    button {
        background-color: black;
        color: white;
        padding: 14px 20px;
        margin: 10px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        padding-top: 15px;
    }
</style>
    <body style = "background-color: #f7df88">
<div style = "text-align: center; vertical-align: center; margin-top:10%">
    <br></br>
    <h1><center>Thanks for using our website! </center></h1>
    <h2><center> Congrates on making new friends and becoming healthier! </center></h2>
    <h3></h3>
    <button type = "button"  value = "Return to Main Page" name = "name" onclick = "window.location.href = 'Main.html'"> Return to Main Menu</button>
</div>
</body>
</head>
</html>